# ---------------- Core ----------------
Django==5.1.6
gunicorn==23.0.0
python-dotenv==1.2.1

# ---------------- Django APIs ----------------
django-ninja==1.5.1
django-ninja-extra==0.30.8
django-ninja-jwt==5.4.2
django-cors-headers>=4.3.1

# ---------------- Auth & Security ----------------
bcrypt==5.0.0
passlib==1.7.4
cryptography==46.0.3
PyJWT==2.10.1
cffi==2.0.0
pycparser==2.23

# ---------------- Database ----------------
psycopg2-binary==2.9.11
SQLAlchemy==2.0.45
greenlet==3.3.0

# ---------------- Data & Utilities ----------------
requests==2.32.5
pydantic==2.12.5
pydantic-settings==2.12.0
annotated-types==0.7.0
typing-extensions==4.15.0
typing-inspection==0.4.2

# ---------------- Google GenAI ----------------
google-genai==1.56.0
google-auth==2.45.0

# ---------------- Forms & Templates ----------------
django-crispy-forms==2.4
crispy-bootstrap5==2025.4
beautifulsoup4==4.13.5
lxml==6.0.2

# ---------------- Files & Data ----------------
pillow==11.1.0
openpyxl==3.1.5
pandas==2.2.3
numpy==2.2.4

# ---------------- Misc ----------------
sqlparse==0.5.5
tzdata==2025.3
